@model IEnumerable<phonebook.Models.ContactBook>

@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>

<html>
<head>
    <title>Телефонная книга</title>
</head>
<body>
    <h3>Список контактов</h3>
    <a asp-action="ContactAdd">Добавить модель</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>Модель</td>
                <td>Производитель</td>
                <td>Цена</td>
                <td></td>
            </tr>
            @foreach (var phonebook in Model)
            {
                <tr>
                    <td>@phonebook.Name</td>
                    <td>@phonebook.Soname</td>
                    <td>@phonebook.Midlename</td>
                    <td>@phonebook.Data</td>
                    <td>@phonebook.Phone</td>
                    <td><a href="~/Home/Edit/@phonebook.Id">Изменить</a></td>
                    <td><a href="~/Home/Details/@phonebook.Id">Подробнее</a></td>
                    <td><a href="~/Home/Delete/@phonebook.Id">Удалить</a></td>

                </tr>
            }
    </table>
</body>
</html>
